body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Center everything inside section */
section {
  text-align: center;
  color: white;
  background: url('bd.jpg') no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;   /* stack items vertically */
  justify-content: center;  /* center vertically */
  align-items: center;      /* center horizontally */
}

h1 {
  font-size: 7em;
  margin-bottom: 40px;
  letter-spacing: 2px;
  color: rgb(189, 137, 239);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}


.end-btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #5c2a9d; /* dark purple */
      color: white;
      text-decoration: none;
      font-size: 18px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      transition: background 0.3s;
    }

    .end-btn:hover {
      background-color: #7a3edb;
}




